 <div id = "show">

		<h1><%= @note["prompt"] %></h1>
		<h2><%= @note["body"] %></h2>
	<br><br>
	<div class = "linked-container">	
		<h3>Linked notes</h3>
		<% if !@linked_notes.empty?  %>
			<ul>
				<% @linked_notes.each do |n|%>
					<%= link_to "<li>#{n[0]}</li>".html_safe, "/notes/#{n[1]}", :class => "linked" %>
				<% end %>
			</ul>
		<% end %>
		<div id = "note-upper">	
				<button class="btn btn-small btn-inverse" onclick="displayNotebookList()">Click to add</button>
		</div>
	</div>
	<div class = "linked-container">	
		<h3>Suggested notes</h3>
		<% if @suggested_notes.empty? %>
			<p>There are no similar notes. Why don't you write some?</p>
		<% else %>
			<ul>
				<% @suggested_notes.each do |n|%>
					<%= link_to "<li>#{n[1]}</li>".html_safe,  "/notes/#{n[2]}", :class => "linked" %>
				<% end %>
			</ul>
		<% end %>
	</div>	
</div>

<script type = "text/javascript">
function displayNotebookList(){
	var str = "<br><p>Pick a note from your notebook which will link to this note</p><select id='selector'><% @notes.each do |n|%><option value = <%= n[0]['data']['uid'] %>><%= n[0]['data']['prompt']%></option><% end %></select>"
	var btn = "<br><button class='btn btn-small btn-inverse' onclick='linklink()'>Go</button>"
	document.getElementById('note-upper').innerHTML=str +btn;
}
function linklink(){
	s = document.getElementById('selector');
	n1 = "<%= escape_javascript @note['uid'] %>";
	n2 = s.value;
	n2txt = s.options[ s.selectedIndex].text
	console.log(n1);
	console.log(n2);
	console.log(n2txt);
	$.ajax({
	    url: "/relationships",
	    type: "POST",
	    data: {
	             uid1: n1, 
	             uid2: n2}
	});
	window.location = "/notes/"+n1;
}
</script>